<div class="row">
<div class="col-md-3">
<label>Key</label>
<br>
<input type="text" required="" ng-model="condition.key" />
</div>
<div class="col-md-1">
<label>Condition</label>
<select id="condition" required="" ng-model="condition.condition">
            <option value=">"> > </option>
            <option value="<"> < </option>
            <option value="="> = </option>
</select>
</div>
<div class="col-md-3">
<label>Value</label>
<br>
<input type="text"ng-model="condition.value" required="" />
</div>
<div class="col-md-3">
<label>Message</label>
<br>
<input type="textbox" ng-model="condition.message" required=""/>
</div>
<div class="col-md-2">
<button class="btn btn-small" ng-click="deleteNotification(notification)">Delete</button>
</div>
</div class="row">