
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alert Rules</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="js/require.js" data-main="js/main.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body>
  <div class="container-fluid" >
	  <form>
	  	<h1>Alert Rules</h1>
	  		<div>

		  		<div ng-controller="conditionController" >
			  	<button class="btn btn-small" ng-click="addCondition()">Add</button>
		  			<div ng-repeat="condition in body">
		  			
				  		<ng-include src="'templates/condition.html'"></ng-include>
		  			
				  	</div>
				  	
		  		<button class="btn btn-small" ng-click="sendConfig(config)">Submit</button>
		  		</div>

			  	<div ng-controller="notificationController">
				  		<ng-include src="'templates/notificationconfig.html'"></ng-include>
			  	</div>

	  		</div>
  	</form>
  </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>